body{
    display:block;
    margin: 0;
    padding:0;
    background-image: linear-gradient( to right , rgb(56, 25, 104), rgb(13, 113, 163), rgb(56, 50, 157));
}
.header{
    text-align: center;
    background-color:rgba(255, 255, 255, 0.088); 
    color: white;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.header h1 {
    margin: 0;
    font-size: 50px;
}
.header p {
    font-size: 20px;
    color: rgb(213, 204, 204);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formulario{
    display: grid;
    width: 300px;
    height: 400px;
    padding: 1em 2em;
    background-color:rgba(255, 255, 255, 0.386);
    border-radius: 7px;
    box-shadow: rgba(162, 46, 240, 0.4) 5px 5px, rgba(162, 46, 240, 0.2) 15px 15px, rgba(162, 46, 240, 0.1) 20px 20px, rgba(162, 46, 240, 0.05) 25px 25px;
}
.owner, .num{
   
    padding:5px;
    border-radius: 10px;
    font-family: cursive;
}

/* #name{

}
#card{
   
} */
    
#finalbox{
    background-color:rgba(255, 255, 255, 0.438);
    height: 50px;
    width: 500px;
    font-size: 17px;
    font-family: system-ui;
    border-radius: 5px;
    color: #000;

}
#typeErrorNumber{
    display:none;
    position: relative;
    top: 40%;
    color: rgb(135, 3, 72);
}
